*{
  margin:0;
  padding: 0;
  font-family: 'Gotham';
  box-sizing: border-box;
}

body{
  background: #fff;
  color: #fff;
}

header{
  width: 100%;
  height: 100vh;
  background-image: url(images/main2.png);
  background-size: cover;
  background-position: center;
}

.container{
  padding: 10px 5%;
}

 nav{
  display:flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo{
  width:300px;
}
nav ul li{
  padding-bottom: 30px;
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  color:black;
  text-decoration: none;
  font-size: 22px;
  font-weight: 700;
  position: relative;
}

nav ul li a::after {
  content: '';
  width: 0;
  height: 3px;
  background: linear-gradient(45deg, #208EE5, #F96D52);
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after{
  width:100%;
}

.univ{
font-size: 30px;
}

.header-text{
  margin-top: 20%;
  font-size: 45px;
  color: black;
}

.header-text h1{
  font-size: 60px;
  margin-top: 8px;
}


.header-text h1 span {
  background: linear-gradient(to right, #208EE5, #ef2525 );
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.header-text a{
  border-radius: 15px;
  background: linear-gradient(to right, #208EE5, #F96D52);
  text-align: center;
  font-size: 30px;
  padding: 10px;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
}

/* ----------------- ABOUT --------------------*/

#about{
  padding-top: 105px;
  padding-bottom: 50px;
  background-color: #0D0D0D;
}

.row{
  display: flex;
  justify-content: space-between;
  flex-wrap:wrap;
}

.about-col-1{
  flex-basis: 35%;
}
.about-col-1 img{
  width: 100%;
}

.about-col-2{
  flex-basis: 60%;
  color: #ababab;
}

.sub-title{
  font-size: 60px;
  font-weight: 600;
  color: white;
}

.about-col-2 p{
  text-align:justify ;
}

.tab-titles{
  display: flex;
  margin: 20px 0 40px;
}

.tab-links.active-link{
  color: white;
}

.tab-links{
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab-links:after{
  content: '';
  width:0;
  height:3px;
  background: linear-gradient(45deg, #208EE5, #F96D52);
  position: absolute;
  left: 0;
  bottom: -8px;
  transition:0.5px;
}

.tab-links.active-link::after{
  width: 50%;
}

.tab-contents ul li{
  list-style: none;
  margin: 30px 0;
}

.tab-contents ul li span{
  color: #a51111;
  font-size: 20px;
}

.tab-contents{
  display: none;
}

.tab-contents.active-tab{
  display: block;
}

.footer {
  padding: 20px;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #0D0D0D;
  color: white;
  text-align: center;
}